---
import { Icon } from "astro-icon";

import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";
---

<ContentSection title="Until we meet again" id="future">
  <Fragment slot="lead">
    Meanwhile, you can use following websites as <span class="text-primary">alternative</span>
      <br />
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
        href="https://www.teamblind.com/"
        class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <span>Blind</span>
    </a>
    <a
        href="https://www.levels.fyi/"
        class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <span>levels.fyi</span>
    </a>
  </div>
</ContentSection>
