---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="The Cthroo story..." id="intro">
  <Fragment slot="lead">
    <span class="text-primary">Cthroo</span>
    was launched in <span class="text-primary">2018</span>
    to bridge the <span class="text-primary">gap</span>
    between <span class="text-primary">job seekers</span> and <span class="text-primary">company insights</span>
    <br />
  </Fragment>
</ContentSection>
