---
import { Icon } from "astro-icon";

import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";
---

<ContentSection title="Useful tools" id="tools">
    <Fragment slot="lead">
        <span class="text-primary">Free</span> tools you can use made by creator of <span class="text-primary">Cthroo</span>
        <br />
    </Fragment>
    <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
        <a
                href="https://www.paycal.com.au/"
                class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
        >
            <span>pay calculator</span>
        </a>
        <a
                href="https://paycal.com.au/mortgage-calculator/"
                class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
        >
            <span>Mortgage repayment calculator</span>
        </a>
        <a
                href="https://paycal.com.au/gst-calculator/"
                class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
        >
            <span>gst calculator</span>
        </a>
    </div>
</ContentSection>
